.build/
.swiftpm/
Package.resolved
build/
*.xcarchive
*.zip
*.dmg
*.pkg
*.provisionprofile
*.mobileprovision

.DS_Store

DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
*.moved-aside
.env.local
.envrc.local

Key.xcodeproj/project.xcworkspace/xcuserdata/
Key.xcodeproj/xcuserdata/
