<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>HelperMachServiceName</key>
	<string>$(KEY_HELPER_MACH_SERVICE_NAME)</string>
	<key>HelperBundleIdentifier</key>
	<string>$(KEY_HELPER_BUNDLE_IDENTIFIER)</string>
	<key>KeychainAccessGroup</key>
	<string>$(KEY_KEYCHAIN_ACCESS_GROUP)</string>
	<key>KeyProductVariant</key>
	<string>$(KEY_PRODUCT_VARIANT)</string>
	<key>KeyQualificationNamespace</key>
	<string>$(KEY_QUALIFICATION_NAMESPACE)</string>
	<key>LaunchAgentPlistName</key>
	<string>$(KEY_LAUNCH_AGENT_PLIST_NAME)</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>VaultKeyAccount</key>
	<string>default-vault</string>
	<key>VaultKeyService</key>
	<string>$(KEY_VAULT_KEY_SERVICE)</string>
</dict>
</plist>
