<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleProgram</key>
	<string>Contents/Helpers/Key Agent.app/Contents/MacOS/Key Agent</string>
	<key>Label</key>
	<string>work.tvr.key.agent</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>MachServices</key>
	<dict>
		<key>work.tvr.key.agent</key>
			<true/>
		<key>work.tvr.key.agent.status</key>
			<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>SpawnConstraint</key>
	<dict>
		<key>signing-identifier</key>
		<string>work.tvr.key.xpc</string>
		<key>team-identifier</key>
		<string>9Q355KSV85</string>
		<key>validation-category</key>
		<dict>
			<key>$in</key>
			<array>
				<integer>3</integer>
				<integer>6</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
