<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleProgram</key>
	<string>Contents/Helpers/KeyLaunchAgentHelper.app/Contents/MacOS/KeyLaunchAgentHelper</string>
	<key>Label</key>
	<string>work.tvr.key.agent</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>MachServices</key>
	<dict>
		<key>work.tvr.key.agent</key>
			<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
</dict>
</plist>
